.main-center__group
  .main-center__group--name
    shoma
  .main-center__group--date
    2018/10/08
  .main-center__group--message
    Hello

  .main-center__group--name
    shoma
  .main-center__group--date
    2018/10/08
  .main-center__group--message
    Hello
