.sidebar-bottom__group
  .sidebar-bottom__group--name
    shoma
  .sidebar-bottom__group--message
    まだメッセージがありません

  .sidebar-bottom__group--name
    shoma
  .sidebar-bottom__group--message
    まだメッセージがありません
