.messages {
  background-color: #eeeeee;
  height: calc(100% - 100px - 90px - 20px);
  width: calc(100vw - 300px);
  padding-top: 46px;
  overflow: scroll;
  @include clearfix() ;
  .message {
    word-break: break-all;
    padding: 0 40px;
    &__user-name{
      float: left;
      margin-right: 10px;
      font-weight: bold;
      font-size: 16px;
      color: $black;
    }
    &__date {
      color: $gray;
      font-size: 12px;
      padding-bottom: 10px;
    }
    &__content {
      color: $black;
      font-size: 14px;
      padding-bottom: 40px;
    }
  }
}
