html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
}

.notice {
    background-color: $light-blue;
    color: $white;
    text-align: center;
  }

.contents {
  height: calc(100% - 24px);
  width: 100%;
  @include clearfix() ;
}

.sidebar {
  background-color: #2f3e51;
  height: 100%;
  width: 300px;
  color: $white;
  display: inline-block;
}

.main {
  height: 100%;
  width: calc(100% - 300px);
  float: right;
  position: relative;
}
